.promo {
    position: relative;
    min-height: 900px;
    padding: 200px 0 66px 0;
    &__background {
        height: 300px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #F0D3C6;
    }
    &__wrapper {
        position: relative;
        margin: 0 auto;
        width: 1115px;
        display: flex;
        justify-content: space-between;
        
    }
    &__box {
        position: relative;
        width: 345px;
        filter: drop-shadow(0px 20px 60px rgba(0, 0, 0, 0.17));
        img {
            width: 100%;
        }
        &:nth-last-of-type(2) {
            &:after {
                content: '';
                position: absolute;
                bottom: -133px;
                left: -103px;
                display: block;
                width: 550px;
                height: 1px;
                background-color: #fff;
            }
        }
    }
    &__overlay {
        z-index: 5;
        position: absolute;
        width: 345px;
        min-height: 141px;
        padding: 18px 44px 25px 44px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.5);
    }
    &__title {
        font-size: 18px;
        color: #FFFFFF;
        text-align: center; 
        font-weight: 300;
    }
}